
<div id="page-content-wrapper">
    <!-- header -->
    <h4>@danielavnon <span class="online"></span></h4>
    <!-- header -->
    <!-- Contact info -->
    <div class="first-message container-fluid">
        <div class="chat-avatar">
            <img src="images/uploads/user_icon.png" class="img-thumbnail" />
        </div>
        <div class="chat-info">
            <span class="chat-name">Daniel Avnon <span class="online"></span> @danielavnon</span><br />
            <span>Director, Avnon Consulting</span>
        </div>
        <div class="message-body">
            <p>This is the very begining of your direct message history with danielavnon.

            <p>
                Direct messages are private between the two of you. Sharing a private file here will not make it
                public, but it will allow danielavnon to see and share it
            </p>
        </div>
    </div>
    <!-- Contact info -->

    <div class="messages-list">
        <!-- Date -->
        <div class="chat-date text-center">January 19, 2016</div>
        <!-- Date -->
        <!-- Messages -->
        <div class="message container-fluid">
            <div class="chat-avatar">
                <img src="images/uploads/user_icon.png" class="img-thumbnail" />
            </div>
            <div class="message-body">
                <span class="chat-name">username 3</span><span class="chat-time text-muted">12:40 AM</span>

                <div>
                    This template has a responsive menu toggling system. The menu will appear collapsed on smaller
                    screens, and will appear non-collapsed on larger screens. When toggled using the button below, the
                    menu will appear/disappear. On small screens, the page content will be pushed off canvas.
                </div>
            </div>
        </div>
        <div class="message container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="chat-avatar">
                        <img src="images/uploads/user_icon.png" class="img-thumbnail" />
                    </div>
                    <div class="message-body">
                        <span class="chat-name">username 3</span><span class="chat-time text-muted">12:40 AM</span>

                        <div>
                            <span class="text-muted">uploaded a file: </span><a href="#" class="file-name">helloworld.pdf</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message container-fluid">
            <div class="chat-avatar">
                <img src="images/uploads/user_icon.png" class="img-thumbnail" />
            </div>
            <div class="message-body">
                <span class="chat-name">username 3</span><span class="chat-time text-muted">12:40 AM</span>

                <div>
                    <span class="text-muted">uploaded an image: </span><a href="#" class="file-name">someimage.png</a>
                </div>
                <div class="image-preview">
                    <img src="images/uploads/111222333444555666777.jpg">
                </div>
            </div>
        </div>
        <!-- Messages -->
    </div>
    <!-- Chat form -->
    <div class="chat-form">
        <textarea class="form-control"></textarea>
        <button class="btn btn-primary pull-right">Send Message</button>
        <button class="btn btn-primary pull-right">Add Attachment</button>
    </div>
    <!-- Chat form -->
</div>