<aside class="left-panel" ng-controller="contactsController">
    <div class="hold">
        <div class="panel jcf-scrollable">
            <header class="head">
                <div class="team-holder drop-holder">
                    <a class="team-name drop-open"><span class="name">Avnon Consulting<i class="icon-arrow-down"></i></span><span class="user">@ayanapalisuc</span></a>
                    <div class="drop">
                        <div class="section-header"><span class="header-label">You</span></div>
                        <ul>
                            <li><a>Preferences</a></li>
                            <li><a>View Profile & Account</a></li>
                            <li><a>Help / Feedback</a></li>
                            <li><a>Set yourself away</a></li>
                        </ul>
                        <div class="section-header"><span class="header-label">Avnon Consulting</span></div>
                        <ul>
                            <li><a>Apps and Custom Integrations</a></li>
                            <li><a>Customize Incubator Portal</a></li>
                            <li><a>Team Directory</a></li>
                        </ul>
                        <div class="section-header"><span class="header-label">Your Teams</span></div>
                        <ul>
                            <li><a>Sign out of Avnon Consulting</a></li>
                            <li><a>Sign in to another team...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="notification-box drop-holder">
                    <a class="notification-menu drop-open"><i class="icon-bell"></i></a>
                    <div class="drop">
                        <div class="section-header"><span class="header-label">Snooze Notifications:</span></div>
                        <ul>
                            <li><a>20 minutes</a></li>
                            <li><a>1 hour</a></li>
                            <li><a>2 hour</a></li>
                            <li><a>4 hour</a></li>
                            <li><a>8 hour</a></li>
                            <li><a>24 hour</a></li>
                        </ul><a class="link">Do not disturb schedule...</a><a class="link">Notification Preferences</a>
                    </div>
                </div>
            </header>
            <form class="mobile-search desktop-hidden">
                <div class="input-holder">
                    <input type="search" placeholder="Jump To">
                    <button type="submit" class="icon-search"></button>
                </div>
            </form>
            <ul class="list">
                <li><a>Activities<i class="icon icon-chats"></i></a></li>
                <li><a>Calendar<i class="icon icon-calendar2"></i></a></li>
                <li><a>Clients<i class="icon icon-clients"></i></a></li>
                <li><a>Contacts<i class="icon icon-contacts"></i></a></li>
                <li><a>Applicants<i class="icon icon-applicants"></i></a></li>
                <li><a>Documents<i class="icon icon-document"></i></a></li>
            </ul>
            <ul class="accordion">
                <li class="open-close active">
                    <a class="channels-btn"><i class="icon-close2"></i></a><a class="opener">STARRED</a>
                    <div class="slide">
                        <ul class="started">
                            <li><a>greatwork<i class="icon">#</i></a></li>
                            <li><a>uiredesign<i class="icon">#</i></a></li>
                            <li><a>frontend<i class="icon">#</i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="open-close active">
                    <a class="opener">GOALS</a>
                    <div class="slide">
                        <ul>
                            <li><a>M&E Best Practices<i class="icon icon-hash"></i></a></li>
                            <li><a>How to establish effective mentoring ...<i class="icon icon-hash"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="open-close active">
                    <a class="channels-btn"><i class="icon-close2"></i></a><a class="opener">DIRECT MESSAGES (17)</a>
                    <div class="slide" id="sidebar-wrapper-left">
                        <ul class="direct-list">
                            <li class="{{item.online && 'online-active'}}" ng-repeat="item in Contacts">
                                <a ng-click="SelectContact(item)"> {{item.userName}}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>