<div id="sidebar-wrapper-right" class="sidebar-wrapper" ng-show="isBlockVisible" >
    <ul class="sidebar-nav full-height" >
        <li class="sidebar-brand"><a href="#">Shared Files</a></li>
        <li>
            <select name="files-list" id="files-list" ng-change="SelectFile()" ng-model="filesChatSelected">
                <option selected="{{$last}}" ng-repeat="file in Files" value="{{ file.id }}">{{file.createdByName + ' ' + moment(file.createdAt).format('LLL')  + ' | ' + file.name}}</option>
            </select>
        </li>
        <li class="sidebar-brand"><a href="#">Comments</a></li>
        <li class="full-height">
            <message-list channel="{{activeFileChannelUUID}}"></message-list>
        </li>
    </ul>
</div>
