<div ng-controller="loginController as lc">

    <div class="login-form">
        <div>
            <form>
                <h1>Realtime Chat</h1>
                <div class="form-group">
                    <label for="loginInput">Login:</label>
                    <input id="loginInput" type="email" class="form-control" ng-model="UserName" required />
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password:</label>
                    <input id="passwordInput" type="password" class="form-control" ng-model="Password" required />
                </div>
                <button type="submit" class="btn btn-default pull-right" ng-click="lc.UserLogin()" >Login</button>
                <div class="alert alert-danger" ng-if="loginFailed">Email or password is incorrect</div>
            </form>
        </div>
    </div>
</div>