<div ng-controller="homeController" id="wrapper">

    <contacts></contacts>

    <top-header></top-header>

    <file-views></file-views>
    <message-list channel="{{$root.activeChannelUUID}}"></message-list>

    <div id="loader"></div>
    <logout class="logout-form"></logout>

    <popups></popups>

    <script type="text/javascript">
        $(function () {
            $("#left-menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("left-toggled");
            });
            $("#right-menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("right-toggled");
            });
        });
    </script>
</div>