<div ng-controller="homeController" id="wrapper">

    <a href="#left-menu-toggle" class="btn btn-default" id="left-menu-toggle"></a>
    <a href="#right-menu-toggle" class="btn btn-default pull-right" id="right-menu-toggle"></a>

    <contacts></contacts>
    <file-views></file-views>
    <div id="page-content-wrapper">
        <!-- header -->
        <h4>{{$root.currentUser.mail}} <span class="online"></span></h4>
        <!-- header -->
        <!-- Contact info -->
        <div class="first-message container-fluid">
            <div class="chat-avatar">
                <user-image imageUrl="{{$root.ActiveContact.imageUrl}}" />
            </div>
            <div class="chat-info">
                <span class="chat-name">{{$root.ActiveContact.userName}} <span class="{{$root.ActiveContact.online ? 'online' : 'offline'}}"></span></span><br />
                <span>{{$root.ActiveContact.info}}</span>
            </div>
            <div class="message-body">
                <p>This is the very begining of your direct message history with danielavnon.

                <p>
                    Direct messages are private between the two of you. Sharing a private file here will not make it
                    public, but it will allow danielavnon to see and share it
                </p>
            </div>
        </div>
        <!-- Contact info -->
        <message-list channel="{{$root.activeChannelUUID}}"></message-list>
        <!-- Chat form -->
    </div>

    <div id="loader"></div>
    <logout class="logout-form"></logout>

    <script type="text/javascript">
        $(function () {
            $("#left-menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("left-toggled");
            });
            $("#right-menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("right-toggled");
            });
        });
    </script>
</div>