<main  id="{{channel}}" class="main" >
        <div class="content-box messages-list">
            <div class="user-section">
                <div class="avatar-holder mobile-hidden">
                    <div class="avatar">
                        <user-image imageUrl="{{context.ActiveContact.imageUrl}}" />
                    </div>
                        <div class="text-holder">
                            <a class="{{context.ActiveContact.online ? 'user-name' : 'user-name offline'}}">{{context.ActiveContact.userName}}</a><a class="login-name">{{context.ActiveContact.mail}}</a>
                            <p>{{context.ActiveContact.info}}</p>
                        </div>
                    </div>
                <h2 class="desktop-hidden">Welcome!</h2>
                <p>This is the very beginning of your direct message history with danielavnon.</p>
                <p>Direct messages are private between the two of you. Sharing a private file here will not make it public, but it will allow danielavnon to see and share it.</p>
            </div>
            <div class="day-msgs" ng-repeat="message in messages track by message.uuid">
                <ul class="action-container">
                    <li><a class="icon-smile"></a></li>
                    <li><a class="icon-list"></a></li>
                    <li class="drop-holder">
                        <a class="icon-more drop-open"></a>
                        <div class="drop menu">
                            <ul>
                                <li><a href="#">Mark unread</a></li>
                                <li><a href="#">Edit message</a></li>
                                <li><a href="#">Pin to this conversation</a></li>
                                <li><a href="#">Add reaction</a></li>
                                <li><a href="#">Copy link</a></li>
                            </ul><a href="#" class="link">Delete Message ...</a>
                        </div>
                    </li>
                </ul>
                <div class="avatar-icon" id="msg{{message.uuid}}"><user-image imageUrl="{{message.user.imageUrl}}" /></div>
                
                <div class="message-content">
                    <a href="#" class="message-sender">{{message.user.userName}}</a><a href="#" class="timestamp">{{ message.date | date:"h:mma"}}</a>

                    <div class="message-body" ng-show="message.content.file != null">
                        <span class="text">uploaded a file:<a href="{{message.content.file.fileUrl}}" class="upload-file">{{message.content.file.fileName}}</a></span>
                       
                    </div>

                    <div class="message-body" ng-show="message.content.image != null">
                        <span class="text">uploaded an image:<a href="{{message.content.image.fileUrl}}" class="upload-file">{{message.content.image.fileName}}</a></span>
                        <div class="img">
                            <img src="{{message.content.image.fileUrl}}" alt="image description">
                            <ul class="btn-list">
                                <li><a href="#"><i class="icon-cloud"></i></a></li>
                                <li><a href="#"><i class="icon-more"></i></a></li>
                                <li><a href="#"><span>10 comments</span></a></li>
                            </ul>
                        </div>
                        <div class="final-icon" ng-show="message.content.text != null"><span><i class="icon-quote"></i>{{message.content.text}}</span></div>
                    </div>

                    <div class="message-body" ng-show="message.content.image == null && message.content.file == null">
                        <p class="text">{{message.content.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    <form class="message-form" ng-submit="SendMessage()">
        <div class="input-file">
            <input type="file" ngf-select="UploadFiles($file, $invalidFiles)">
        </div>
        <div class="message-input">
            <textarea cols="30" rows="10" placeholder="Type your message..." class="flexible" ng-model="message" ng-keypress="ChangeMessage($event)" input-focus="messageInputFocus"></textarea>
        </div>
        <div class="btn-box">
            <a class="icon-smile"></a>
            <button type="submit" class="icon-send"></button>
        </div>
    </form>
    <!--<script type="text/javascript">
        setTimeout(initThirdPartLibs,10000);
        
    </script>-->
</main>