<div class="chat-container" id="{{channel}}">
    <div class="messages-list">
        <div class="message container-fluid" ng-repeat="message in messages track by message.uuid">
            <div class="chat-avatar" id="msg{{message.uuid}}">
                <user-image imageUrl="{{message.user.imageUrl}}" />
            </div>
            <div class="message-body">
                <span class="chat-name">{{message.user.userName}}</span><span class="chat-time text-muted">{{ message.date | date:"MM/dd/yyyy 'at' h:mma"}}</span>
                <div ng-show="{{message.content.text != null }}">{{message.content.text}}</div>
                <div ng-show="{{message.content.file != null }}">
                    <span class="uploaded-text">uploaded a file</span> <a href="{{message.content.file.fileUrl}}">{{message.content.file.fileName}}</a>
                </div>
                <div ng-show="{{message.content.image != null }}">
                    <span class="uploaded-text">uploaded an image</span> <a class="uploaded-link" href="{{message.content.image.fileUrl}}">{{message.content.image.fileName}}</a>
                    <div class="image-preview"><img src="{{message.content.image.fileUrl}} "></div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-form">
        <form ng-submit="SendMessage()">
            <textarea class="form-control" ng-model="message" ng-keypress="ChangeMessage($event)" input-focus="messageInputFocus" />
            <button type="submit" class="btn btn-primary pull-right">Send Message</button>
            <button class="btn btn-primary pull-right attach-button" type="file" ngf-select="UploadFiles($file, $invalidFiles)">Add Attachment</button>
        </form>
    </div>
</div>